// Colors
// ========================================
$color-white: #fff;
$color-fffefe: #fffefe;
$color-99: #999999;

// Fonts
// ========================================
$font-primary: 'Roboto', sans-serif;

// Breakpoints
// ========================================
$xs: 1024px;
