// Colors
// ========================================
$color-white: #fff;
$color-fffefe: #fffefe;
$color-base1: #212529;
$color-base2: #597081;
$color-52: #525252;
$color-99: #999999;
$color-ee: #eeeeee;

$color-border: rgba(0, 0, 0, .125);

$color-expense: #ff6a6a;
$color-income: #66cdaa;

// Fonts
// ========================================
$font-primary: 'Roboto', sans-serif;
$font-icon: 'Material Icons';

// Breakpoints
// ========================================
$xs: 1024px;
