.LoaderButton {
  svg.spinning {
    width: 20px;
    height: 20px;
    margin: 2px 7px;
    top: 2px;
    animation: spin 1s infinite linear;
  }
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
